<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body {
        background-color: lightblue;
      }
      </style>
  </head>
  <body>
    <h1>Edit Todo</h1>
    <form action="{{ url_for('edit', index=index) }}" method="post">
      <input type="text" name="todo" value="{{ todo['task'] }}">
      <button type="submit">Save</button>
    </form>
  </body>
</html>
